<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shot Tracker! WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>Shot Tracker! WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Shot Tracker!.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F072FAFF1FAA0E3100A8D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F072FB131FAA0E3200A8D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F072FB1E1FAA0E3200A8D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F072FB271FAA0E3200A8D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
