<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> 404: PAGE NOT FOUND </title>
  <link rel="shortcut icon" href="assets/AppIcon.png">

  <link rel="stylesheet" href="stylesheets/topnavbar.css">
  <link rel="stylesheet" href="stylesheets/materialbox.css">
  <script src="https://www.w3schools.com/lib/w3data.js"></script> <!-- for embedding nav bar -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- icon library for hamburger -->


</head>
<body>


  <div class="box">

    <div class="title">ERROR 404: PAGE NOT FOUND</div>
  </div>

  <!-- <script type="text/javascript" src = "scripts/globalfunctions.js"></script> -->


</body>
</html>
